body{
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);  
}
ul{
  list-style: none;
}
li{
  font-style: none;
  font-family: "Comic Sans MS", "Comic Sans", cursive;

  font-size: 22px;
  color: white;
}
.header{
  color:red;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 25px;
  display: flex;
  justify-content: center;
};
.text{
  font-size: 30px;
  color:white
}
.sim{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.label{
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.space{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.center{
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;

}